#home-category {
  background-color: #fff;
  padding: 10px;
}
#home-category .carousel-item ul {
  width: 100%;
  height: auto;
}
#home-category .carousel-item a {
  color: #333;
}
#home-category .carousel-item li {
  display: block;
  list-style: none;
  width: 20%;
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: top center;
  text-align: center;
  padding-top: 50px;
  color: #666;
  font-size: 14px;
}
#home-category .carousel-item li.jingdian {
  background-image: url(/img/category/138012-20161022224203170-1528315005.png);
}
#home-category .carousel-item li.ktv {
  background-image: url(/img/category/138012-20161022224309185-1519181081.png);
}
#home-category .carousel-item li.gouwu {
  background-image: url(/img/category/138012-20161022224150045-30962603.png);
}
#home-category .carousel-item li.shenghuo {
  background-image: url(/img/category/138012-20161022224237513-176380794.png);
}
#home-category .carousel-item li.jianshenyundong {
  background-image: url(/img/category/138012-20161022224256732-145714491.png);
}
#home-category .carousel-item li.meifa {
  background-image: url(/img/category/138012-20161022224222123-643915682.png);
}
#home-category .carousel-item li.qinzi {
  background-image: url(/img/category/138012-20161022224229451-475201730.png);
}
#home-category .carousel-item li.xiaochikuaican {
  background-image: url(/img/category/138012-20161022224244545-1583700011.png);
}
#home-category .carousel-item li.zizhucan {
  background-image: url(/img/category/138012-20161022224113560-1012968440.png);
}
#home-category .carousel-item li.jiuba {
  background-image: url(/img/category/138012-20161022224210732-490953965.png);
}
#home-category .carousel-item li.meishi {
  background-image: url(/img/category/138012-20161022224409107-2018112337.png);
}
#home-category .carousel-item li.dianying {
  background-image: url(/img/category/138012-20161022224033873-290248113.png);
}
#home-category .carousel-item li.jiudian {
  background-image: url(/img/category/138012-20161022224051513-2057698989.png);
}
#home-category .carousel-item li.xiuxianyule {
  background-image: url(/img/category/138012-20161022224129076-2058206915.png);
}
#home-category .carousel-item li.waimai {
  background-image: url(/img/category/138012-20161022224121920-424129491.png);
}
#home-category .carousel-item li.huoguo {
  background-image: url(/img/category/138012-20161022224046342-1896393176.png);
}
#home-category .carousel-item li.liren {
  background-image: url(/img/category/138012-20161022224057670-257626875.png);
}
#home-category .carousel-item li.dujiachuxing {
  background-image: url(/img/category/138012-20161022224040842-2050913385.png);
}
#home-category .carousel-item li.zuliaoanmo {
  background-image: url(/img/category/138012-20161022224144060-1009120401.png);
}
#home-category .carousel-item li.zhoubianyou {
  background-image: url(/img/category/138012-20161022224138123-197921773.png);
}
#home-category .carousel-item li.ribencai {
  background-image: url(/img/category/138012-20161022224354951-1102565687.png);
}
#home-category .carousel-item li.SPA {
  background-image: url(/img/category/138012-20161022224419998-1442330810.png);
}
#home-category .carousel-item li.jiehun {
  background-image: url(/img/category/138012-20161022224340545-213074048.png);
}
#home-category .carousel-item li.xuexipeixun {
  background-image: url(/img/category/138012-20161022224415013-114294334.png);
}
#home-category .carousel-item li.xican {
  background-image: url(/img/category/138012-20161022224409107-2018112337.png);
}
#home-category .carousel-item li.huochejipiao {
  background-image: url(/img/category/138012-20161022224323467-1926976043.png);
}
#home-category .carousel-item li.shaokao {
  background-image: url(/img/category/138012-20161022224402576-1611337354.png);
}
#home-category .carousel-item li.jiazhuang {
  background-image: url(/img/category/138012-20161022224333185-1082315113.png);
}
#home-category .carousel-item li.chongwu {
  background-image: url(/img/category/138012-20161022224315779-157132725.png);
}
#home-category .carousel-item li.quanbufenlei {
  background-image: url(/img/category/138012-20161022224348467-646596364.png);
}
#home-category .index-container {
  margin-top: 10px;
}
#home-category .index-container ul {
  width: 100%;
  height: auto;
  text-align: center;
}
#home-category .index-container li {
  list-style: none;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #ccc;
  margin: 0 3px;
}
#home-category .index-container li.selected {
  background-color: #e9203d;
}
